<%= form_for(Comment.new) do |f| %>
<table>
	<tr>
		<th style="text-align: left">Eigenschaften</th>
		<th style="text-align: left">Wert</th>
	</tr>
	<% @device.comment.each do |c| %>
	<tr>
		<td><%= c.name %>:</td>
		<td><%= c.text %></td>
		<td>
			<%= link_to "Edit", :controller => "comments", :action => "edit", :id => c.id%>
			<%= link_to "Destroy", {:controller => "comments", :id => c.id, :action => "show"}, {method: :delete, data: { confirm: 'Are you sure?' }} %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td><%= f.text_field :name, :autofocus=>true, :class => "auto_search_complete", :id => "name" %></td>
  		<td><%= f.text_field :text, :id => "text" %></td>
    	<td>
    		<%= f.submit :value => "Hinzufügen"%>
    		<%= f.text_field :device_id, :value =>@device.id, :hidden => true%>
    	</td>
	</tr>
</table>
<% end %>

<lu id="list"></lu>

<script language="JavaScript">
	$('.auto_search_complete').autocomplete({
    //minLength: 2,
    delay: 600,
    source: function(request, response) {
        $.ajax({
            url: "/autocomplete/comments.json",
            dataType: "json",
            data: {term: request.term},
            success: function( data ) {
            	document.getElementById('list').innerHTML="";
            	for (var i = 0; i < data.length; i++)
	                document.getElementById('list').innerHTML= document.getElementById('list').innerHTML + 
	                "<li onclick='document.getElementById(\"name\").value=this.innerText; document.getElementById(\"list\").innerHTML=\"\"; document.getElementById(\"text\").focus();'>" + data[i].name + "</li>";
	            
            }
        });
    }           
});
</script>
