<h1>Listing devices</h1>

<form method="get" id="such_form">
<table>
	<tr>
		<th>Name</th>
		<th>Wert</th>
	</tr>
	<% if not @such.nil?%>
		<% @such.each do |such| %>
		 <% if not such[:name] == ''%>
			<tr>
				<td><input name="such[][name]" value="<%= such[:name] %>" /></td>
				<td><input name="such[][text]" value="<%= such[:text] %>" /></td>
				<td><a href="#" onclick="$(this).parent().parent().remove(); document.getElementById('such_form').submit(); return false;">Remove</a></td>
			</tr>	
		 <% end %>
		<% end %>
	<% end %>
	<tr>
		<td><input name="such[][name]" autofocus="autofocus" class="auto_search_complete" /></td>
		<td><input name="such[][text]" /></td>
	</tr>
	
	<tr>
		<td><input type="checkbox" name="such_or" onclick="document.getElementById('such_form').submit();" <% if params[:such_or] %>checked="true"<%end%>/>Oder Suche</td>
		<td><input type="submit" value="Suchen" /></td>
	</tr>
</table>
</form>

<%= puts @params %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Besitzer</th>
    <th>Lagerort</th>
    <th colspan="3"></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.ean %></td>
    <td><%= if device.comment.find_by_name(:name).nil?  then "-" else device.comment.find_by_name(:name).text  end %></td>
    <td><%= if device.comment.find_by_name(:type).nil?  then "-" else device.comment.find_by_name(:type).text  end %></td>
    <td><%= if device.comment.find_by_name(:owner).nil? then "-" else device.comment.find_by_name(:owner).text end %></td>
    <td><%= if device.place.nil?  then "-" else device.place.name end %></td>
    
    <td><%= link_to 'Show', device %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device', new_device_path %>
