<p id="notice"><%= notice %></p>

<div style="float: left; width: 200px;">
<p>
  <b>Id:</b>
  <%= @device.id %>
  <br />
  <% if @place.nil? %>
  	<b>Lagerort:</b><br />
  	unbekannt
  <% else %>
  	<%= render "places/show" %>
  <% end %>
  <br />
  <%= link_to 'Edit', edit_device_path(@device) %> |
  <%= link_to 'Back', devices_path %>
</p>
</div>

<%= render "comments/list"%>
