<table>
	<tr>
		<th colspan="2" style="text-align: left">Lagerort:</th>
	</tr>
	<tr>
	  <td>Name:</td>
	  <td><%= @place.name %></td>
	</tr>
	
	<tr>
	  <td>Email:</td>
	  <td><%= @place.email %></td>
	</tr>
	
	<tr>
	  <td>Phone:</td>
	  <td><%= @place.phone %></td>
	</tr>
	
<!--
	<tr>
	  <td>Lat:</td>
	  <td><%= @place.lat %></td>
	</tr>
	
	<tr>
	  <td>Lon:</td>
	  <td><%= @place.lon %></td>
	</tr>
-->
</table>

